services:
  local-db:
    image: postgres:15.5-alpine
    environment:
      - TZ=UTC
      - PGTZ=UTC
      - POSTGRES_DB=travelAgency
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=12345
    ports:
      - '5432:5432'
